.banner {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  z-index         : 1000;
  background-color: white;
  box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.05);

  .banner-container {
    max-width      : 68rem;
    margin         : 0 auto;
    height         : 5rem;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 0 2rem;

    .banner-group {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      width          : 100%;
    }
  }

  .bentrai {
    width: 12.1875rem;
    display: flex;
    justify-content: flex-start;
    .banner-left {
      .menu-icon-circle {
        width           : 2rem;
        height          : 2rem;
        background-color: #fff;
        border          : 1px solid #999;
        border-radius   : 50%;
        display         : flex;
        align-items     : center;
        justify-content : center;
        cursor          : pointer;
        transition      : background-color 0.3s ease;
        opacity         : 0.6;

        i {
          font-size: 1rem;
          color    : #999;
        }
      }
    }
  }

  .center {
    .banner-center {
      flex      : 1;
      text-align: center;

      .logo-img {
        width              : 12rem;
        height             : 4rem;
        background-image   : url('../image/mono.png');
        background-size    : contain;
        background-repeat  : no-repeat;
        background-position: center;
        display            : inline-block;
      }
    }
  }

  .benphai {
    width          : 12.1875rem;
    display        : flex;
    justify-content: flex-end;

    .banner-right {
      display    : flex;
      align-items: center;
      gap        : 1rem;
      font-size  : 1rem;

      .right {
        display    : flex;
        align-items: center;
        gap        : 0.5rem;

        i {
          font-size: 1.5rem;
          color    : rgb(238, 158, 10);
        }

        p {
          margin   : 0;
          font-size: 1rem;
          color    : #000;
        }
      }
    }
  }


  @media (max-width: 48rem) {
    .banner-container {
      padding: 0 1rem;

      .banner-group {
        flex-direction: row;
      }

      .banner-right .right {
        i {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.875rem;
        }
      }

      .banner-center .logo-img {
        width : 10rem;
        height: 3.5rem;
      }
    }
  }
}