.halong-title {
    color: #f5a623;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.halong-desc {
  font-size: 1rem;
  line-height: 1.8;
  color: #333;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.halong-link {
  margin-top: 1rem;
  font-style: italic;
  color: #003366;
  font-weight: 600;
  cursor: pointer;
}

.halong-image {
  background: url('../image/hạ-long-bay-view-fix.jpg') no-repeat center center;
  background-size: cover;
  height: 27rem;
  border-radius: 0 !important;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        padding: 4rem;
    }
}