.quymo-container {
  width: 100%;
  background-color: #5D4A36;
  color: #fff;
  padding: 3rem 0;
}

.quymo-left {
  background: url('../image/Hạ-Long-Bay-View-fix-3.jpg') no-repeat center center;
  background-size: cover;
  min-height: 27rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.quymo-view-more-wrapper {
  text-align: center;
  margin-top: 1rem;

  .quymo-view-more-link {
    color: #fff;
    font-style: italic;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      text-decoration: underline;
      color: #ffd700;
    }
  }
}

.quymo-title {
  font-size: 2em;
  font-weight: bold;
  color: #FFD700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
}

.quymo-details-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    font-size: 1.05em;
    line-height: 1.8;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;

    .bullet {
      color: #FFD700;
      margin-right: 1rem;
      font-weight: bold;
    }
  }
  a.quymo-view-more-link {
    font-weight: bolder;
    color: #f1f1f1;
    font-style: italic;
  }
}
